*{
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    height: 100vh;
}

.top-container{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 10px;
}

.information{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.icon-information{
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}

.icon-information:hover{
    background-color: #E5E5E6;
}

.information a{
    color: #252525;
    text-decoration: none;
    font-size: 14px;    
}

.information a:hover{
    text-decoration: underline;
}

.avatar{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.avatar img{
    width: 90%;
    height: 90%;
    border-radius: 100%;
}
.avatar:hover{
    border: 1px solid #E5E5E6;
}

.middle-container{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #F2F2F2;
}

.google-search{
    width: 40%;
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 100px;
}

.logo-google{
    width: 272px;
    height: 92px;
    margin-bottom: 14px;
}   

.outline-search{
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #dfe1e5;
    border-radius: 100px;
    padding: 15px;
}

.outline-search:hover{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.outline-search input{
    width: 70%;
    height: 90%;
    border: none;
    outline: none;
    font-size: 16px;
}

.btn-google-search{
    background-color: #F8F9FA;
    border: 1px solid transparent;
    margin: 11px 4px;
    padding: 8px 16px;  
    border-radius: 5px;
}

.btn-google-search:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border: 1px solid #DADCE0;
}

.language{
    margin-top: 40px;
    font-size: 13px;
}

.language a{
    text-decoration: none;
}

.language a:hover{
    text-decoration: underline;
}

.bottom-container{
    width: 100%;
    height: 10%;
    background-color: #F2F2F2;
}

.country{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 15px;
    border-bottom: 1px solid #DADCE0;
}

.information-bottom{
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 14px;
}

.information-bottom a{
    text-decoration: none;
    color: #252525;
}

.information-bottom a:hover{
    text-decoration: underline;
}

.left-information{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.right-information{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}